@import 'add-view';

$div-bg: rgba(51,51,51,0.9);
$main-txt: rgb(200,200,200);
$button-color: #E6E6E6;

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: url('../img/music-bg.png');
}

a, span {
	font-size: 0.85em;
}

label {
	font-size: 0.9em;
}


/* HIDDEN CLASSES FOR SPA */
.hidden {
	display: none;
}

/* NAV BAR */
#top {
	background-color: $div-bg;
	margin-top: 2%;
	border-radius: 20px 20px 0 0;
	border: 1px solid black;
	text-align: left;
	padding: 15px;

	a {
	text-decoration: none;
	color:  $main-txt;
	padding-right: 2%; 
	}

}

/* LEFT SIDE W/ SELECTS */
#left-side {
	background-color: $div-bg;
	color: $main-txt;
	border-radius: 0 0 0 20px;
	text-align: left;
	border: 1px solid black;
    height: 400px;
    box-sizing: border-box;
 	margin-right: 0.5%;
}

/* add and filter buttons */
.main-button {
    width: 50%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: $button-color;
    color: #000;
    padding: 2px 0;
    font-size: 1.05em;
    /* centers the button */
    position: relative;
    left: 20%;
    margin: 5% 0 -5% 0;
}


/* artist, album, genre headers */
.userselects {
	font-size: 0.9em;
	font-weight: 400;
	display: block;
    padding: 10px 0 5px;
}

/* checkboxes */
.checkbox-item {
	display: inline-block;
}

/* dropdowns */
.dropdowns {
	border: 2px solid black;
	color: #000;
	font-size: 0.85em;
	width: 90%;
}

/* slider */
#slider {
	width: 80%;
}

/* RIGHT SIDE W/ SONGS */
#right-side {
	background-color: $div-bg;
	color: $main-txt;
	border-radius: 0 0 20px 0;
	text-align: left;
	border: 1px solid black;
    height: 400px;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 1%;
}

/* dynamically added song divs*/
.song-list {
	color: $main-txt;
	padding-left: 1%;
}

/* pads left side from right side */
#playlist-view {
	padding-right: 1%;
}


/* single song buttons */
.delete-single {
	max-width: 50px;
	height: 20px;
	font-size: 0.8em;
	color: #000;
}

/* more button container */
#more-button {
	padding-top: 5%;
	text-align: center;
}

/* more songs button */
#more-songs {
	width: 25%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: $button-color;
    color: #000;
    padding: 2px 0;
    font-size: 1.05em;
}
